#container {
	width: 700px;
}

#demo-container li {
	margin-bottom: 1em;
	min-height: 40px;
}

#file-list {
	padding-left: 10px;
	padding-top: 5px;
	font-family: 'Droid Sans Mono', courier;
	font-size: 12pt;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 14px;
	padding: 4px;
	border: solid 1px #AACFE4;
	border-radius: 5px;
	min-height: 28px;
	background-color: #eee;
	box-shadow: 0px 0px 10px #ccc;
}

#file-list li {
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	font-size: 11pt;
	margin: .5em;
	min-height: 28px;
}

.form-label {
	width: 270px;
	display: inline-block;
	font-size: 12pt;
}

#demo-container {
	margin-right: 50px;
}

input[type=text] {
	height: 21px;
}

input[type=text],select {
	font-size: 12pt;
	padding: 4px;
	border: solid 1px #AACFE4;
	width: 200px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0px 0px 10px #ccc;
}

select {
	width: 212px;
}

input[type=file] {
	color: transparent;
	font-size: 12pt;
}

button,#download-button {
	margin: 0px;
	font-size: 12pt;
	padding: 4px;
	border: solid 1px #AACFE4;
	width: 209px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
}

input[type=file]::-webkit-file-upload-button {
	margin: 0px;
	font-size: 12pt;
	padding: 4px;
	border: solid 1px #AACFE4;
	width: 209px;
	height: 31px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ccc;
}

#download-button {
	height: 21px;
	width: 200px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: default;
	color: black;
}

progress {
	position: absolute;
	right: 0px;
	top: 1px;
	opacity: .7;
	width: 80px;
}