#demo1-container li {
	margin-bottom: 1em;
	min-height: 40px;
}

#demo1-container .form-label {
	width: 200px;
	display: inline-block;
	font-size: 12pt;
}

#demo1-container #file-list {
	padding-left: 10px;
	padding-top: 5px;
	font-family: courier;
	font-size: 12pt;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 14px;
	padding: 4px;
	border: solid 1px #AACFE4;
	border-radius: 5px;
	min-height: 28px;
}

#demo1-container #file-list li {
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	font-size: 11pt;
	margin: .5em;
	min-height: 28px;
}

#demo1-container {
	margin-right: 50px;
}

#demo1-container input[type=text] {
	font-size: 12pt;
	padding: 4px;
	border: solid 1px #AACFE4;
	width: 200px;
	border-radius: 5px;
	text-align: center;
}

#demo1-container input[type=file] {
	color: transparent;
	font-size: 12pt;
	width: 400px;
	border-radius: 5px;
}

#demo1-container input[type=file]::-webkit-file-upload-button,#demo1-container button
	{
	margin: 0px;
	font-size: 12pt;
	padding: 4px;
	border: solid 1px #AACFE4;
	width: 209px;
	border-radius: 5px;
}

#demo1-container button {
	margin-left: 4px;
}

#demo1-container progress {
	position: absolute;
	right: 0px;
	top: 1px;
}

#demo1-container progress {
	opacity: .7;
	width: 80px;
}