#container {
	min-width: 200px;
	max-width: 800px;
}

#demo-container li {
	min-height: 60px;
}

#file-list {
	flex-grow: 1;
	min-width: 200px;
	padding-left: 10px;
	padding-top: 12px;
	font-family: 'Droid Sans Mono', courier;
	font-size: 12pt;
	overflow: hidden;
	white-space: nowrap;
	padding: 4px;
	border: solid 1px #a7a7a7;
	border-radius: 2.5px;
	min-height: 50px;
	box-shadow: 1px 1px 1px #d8d8d8;
	color: #444444;
	margin-bottom: 25px;
}

#file-list.empty {
	min-height: 25px;
}

#file-list li {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	font-size: 11pt;
	margin: .5em;
	min-height: 35px;
}

.form-label {
	min-width: 240px;
	margin-top: 6px;
	margin-right: 8px;
}

#demo-container {
	margin-right: 10px;
}

input[type=text] {
	height: 21px;
}

label {
	display: flex;
}

input[type=text], button, select {
	flex-grow: 1;
	box-sizing: content-box;
	font-size: 12pt;
	padding: 4px;
	border: solid 1px #a7a7a7;
	height: 25px;
	border-radius: 2.5px;
	text-align: center;
	box-shadow: 1px 1px 1px #d8d8d8;
	outline-color: #c1c1c1;
	color: #444444;
	background-color: #ececec;
}

select {
	text-align-last: center;
}

input[type=text]:hover, button:hover, select:hover {
	background-color: #e4e4e4;
}

button[disabled], select[disabled] {
	opacity: .5;
	background-color: #ececec;
}

button:not([disabled]):hover, select:not([disabled]):hover {
	cursor: pointer;
}

progress {
	display: block;
	opacity: .7;
	width: 100%;
	height: 8px;
	margin-top: 2px;
}

@media (max-width: 680px) {
	label {
		flex-direction: column;
	}
	.form-label {
		min-width: 190px;
		margin-bottom: 8px;
	}
	#demo-container {
		margin-right: 0;
	}
	#demo-container>li {
		min-height: 80px;
	}
	ol {
		padding-left: 0;
	}
}